# COGS 108 - Data Checkpoint

# Names

- Maria Dhilla
- Eunice Lee
- Prem Shelat
- Maryam Amin
- Najma Adeeb

<a id='research_question'></a>
# Research Question

*Revised research question:*

Based on the past 20 years, what will be the US National Park visitation rates within the Pacific-West and Intermountain Regions over the next 5 years?

# Dataset(s)

*Fill in your dataset information here*

<!-- (Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets. -->

Intermountain Region:

- Dataset Name: Recreation Visits by Month, Grand Canyon NP
- Link to the dataset: https://irma.nps.gov/STATS/SSRSReports/Park%20Specific%20Reports/Recreation%20Visitors%20By%20Month%20(1979%20-%20Last%20Calendar%20Year)?Park=GRCA
- Number of observations: 42 rows (1979-2021), 12 columns (months)

This dataset contains the visitation data for Grand Canyon NP from 1979 to 2021. This park receives a large number of vistors (>400,000 in Jun 2019).

<p></p>

- Dataset Name: Recreation Visits by Month, Mesa Verde NP
- Link to the dataset: https://irma.nps.gov/STATS/SSRSReports/Park%20Specific%20Reports/Recreation%20Visitors%20By%20Month%20(1979%20-%20Last%20Calendar%20Year)?Park=MEVE
- Number of observations: 42 rows (1979-2021), 12 columns (months)

This dataset contains the visitation data for Mesa Verde NP from 1979 to 2021. This park receives a medium number of vistors (~100,000 in Jun 2019).

<p></p>

- Dataset Name: Recreation Visits by Month, Guadalupe Mountain NP
- Link to the dataset: https://irma.nps.gov/STATS/SSRSReports/Park%20Specific%20Reports/Recreation%20Visitors%20By%20Month%20(1979%20-%20Last%20Calendar%20Year)?Park=GUMO
- Number of observations: 42 rows (1979-2021), 12 columns (months)

This dataset contains the visitation data for Guadalupe Mountain NP from 1979 to 2021. This park receives a smaller number of vistors (<20,000 in Jun 2019).

<p></p>

<b>Pacific West Region:</b>

- Dataset Name: Recreation Visits by Month, Yosemite NP
- Link to the dataset: https://irma.nps.gov/STATS/SSRSReports/Park%20Specific%20Reports/Recreation%20Visitors%20By%20Month%20(1979%20-%20Last%20Calendar%20Year)?Park=YOSE
- Number of observations: 42 rows (1979-2021), 12 columns (months)

This dataset contains the visitation data for Yosemite NP from 1979 to 2021. This park receives a large number of vistors (>400,000 in Jun 2019).

<p></p>

- Dataset Name: Recreation Visits by Month, Crater Lake NP
- Link to the dataset: https://irma.nps.gov/STATS/SSRSReports/Park%20Specific%20Reports/Recreation%20Visitors%20By%20Month%20(1979%20-%20Last%20Calendar%20Year)?Park=CRLA
- Number of observations: 42 rows (1979-2021), 12 columns (months)

This dataset contains the visitation data for Crater Lake NP from 1979 to 2021. This park receives a medium number of vistors (~100,000 in Jun 2019).

<p></p>

- Dataset Name: Recreation Visits by Month, Pinnacles NP
- Link to the dataset: https://irma.nps.gov/STATS/SSRSReports/Park%20Specific%20Reports/Recreation%20Visitors%20By%20Month%20(1979%20-%20Last%20Calendar%20Year)?Park=PINN
- Number of observations: 42 rows (1979-2021), 12 columns (months)

This dataset contains the visitation data for Pinnacles NP from 1979 to 2021. This park receives a smaller number of vistors (<20,000 in Jun 2019).

We plan on combining the above six datasets to get a better picture of how specific national parks in two different regions (Pacific West and Intermountain) that have a range of visitor traffic numbers. These datasets do not require cleaning, as they are already well organized. 

- Dataset Name: Current Year Monthly and Annual Summary Report, Total Recreation Visits for Dec 2020 (Note: we went through the drop-down menu to get month-to-month data)
- Link to the dataset: https://irma.nps.gov/STATS/SSRSReports/National%20Reports/Current%20Year%20Monthly%20and%20Annual%20Summary%20Report%20(1979%20-%20Present) 
- Number of observations: 386 rows (National Parks, etc), 7 columns

We collected visitation data for all national parks, monuments, and other sites based on region. We downloaded individual datasets for each month that compared visitation between 2019 and 2020 (e.g. Apr 2019 vs Apr 2020 was one dataset). We then combined these datasets to form one large set that contained month to month visitation data for all parks between 2019 and 2020. We intend to use this data to get a closer look at the pandemic related fluctuations in park visitation.

# Setup

In [43]:
# import pandas & numpy library
import pandas as pd
import numpy as np

# Import seaborn and apply its plotting styles
import seaborn as sns
sns.set(font_scale=2, style="white")

# import matplotlib
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.style as style
# set plotting size parameter
plt.rcParams['figure.figsize'] = (12, 5)

# Data Cleaning

Describe your data cleaning steps here.

Here, we started by reading in our CSV files that were downloaded from the National Park Service's Statistics page. Fortunately, there is a lot of data to work with. Some of data we wanted to look at is split up into multiple CSVs, while other datasets are entirely clean. Therefore, we are mostly going to be merging datasets and cleaning unwanted columns of data for the sets that are split up.

In [44]:
# NOTE: may be useful later
# full year total data for 2019-2021, split by year
# df_2019_2020 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/2019-2020%20Current%20Year%20Monthly%20and%20Annual%20Summary%20Report%20(1979%20-%20Present).csv')
# df_2020_2021 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/2020-2021%20Current%20Year%20Monthly%20and%20Annual%20Summary%20Report%20(1979%20-%20Present)%20(1).csv')

# import month-to-month data, split by region
df_jan19_20 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/Jan2019-2020.csv')
df_feb19_20 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/Feb2019-2020.csv')
df_mar19_20 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/Mar2019-2020.csv')
df_apr19_20 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/Apr2019-2020.csv')
df_may19_20 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/May2019-2020.csv')
df_jun19_20 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/Jun2019-2020.csv')
df_jul19_20 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/Jul2019-2020.csv')
df_aug19_20 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/Aug2019-2020.csv')
df_sep19_20 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/Sep2019-2020.csv')
df_oct19_20 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/Oct2019-2020.csv')
df_nov19_20 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/Nov2019-2020.csv')
df_dec19_20 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/Dec2019-2020.csv')

In [45]:
# clean csv dataframes of visitation for each of the parks of interest
df_GRCA = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/GRCA.csv') # grand canyon
df_MEVE = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/MEVE.csv') # mesa verde
df_GUMO = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/GUMO.csv') # guadalupe mtns
df_YOSE = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/YOSE.csv') # yosemite
df_CRLA = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/CRLA.csv') # crater lake
df_PINN = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/PINN.csv') # pinnacles

There are some minor fixes for the data of the parks of interest:

In [50]:
# these 3 NPs have a row for 2022 data, but only have numbers for jan and is null for the rest
# so we drop the null row for each
df_MEVE = df_MEVE.dropna().reset_index().drop(labels='index', axis=1)
df_CRLA = df_CRLA.dropna().reset_index().drop(labels='index', axis=1)
df_PINN = df_PINN.dropna().reset_index().drop(labels='index', axis=1)

# rename last column as 'total'
df_GRCA.rename(columns = {'Textbox5': 'Total'}, inplace = True)
df_MEVE.rename(columns = {'Textbox5': 'Total'}, inplace = True)
df_GUMO.rename(columns = {'Textbox5': 'Total'}, inplace = True)
df_YOSE.rename(columns = {'Textbox5': 'Total'}, inplace = True)
df_CRLA.rename(columns = {'Textbox5': 'Total'}, inplace = True)
df_PINN.rename(columns = {'Textbox5': 'Total'}, inplace = True)

In [49]:
df_GRCA.head()

,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
0,2021,"164,922","161,428","317,054","421,232","484,442","538,530","556,766","430,684","399,321","430,734","346,971","280,593","4,532,677"
1,2020,"246,460","252,897","276,002",0,"43,397","232,267","350,003","303,900","249,010","421,568","275,764","245,830","2,897,098"
2,2019,"225,056","213,050","451,228","562,265","618,598","643,821","756,860","700,896","578,852","551,558","347,847","324,380","5,974,411"
3,2018,"257,366","265,949","503,284","549,416","637,703","673,474","799,765","744,826","615,783","555,094","408,794","369,041","6,380,495"
4,2017,"217,102","239,154","502,739","590,006","606,247","726,916","837,258","745,613","571,946","529,825","349,326","338,106","6,254,238"

The month-to-month datasets are not formatted properly and don't translate well to CSV. There are many empty rows that show up when we download the data, so we drop null rows, reset index, and drop unnecessary columns. These unnecesssary columns contain redundant data and are formed as a result of the incorrect formatting. We made a function and cleaned up each month's dataframe.

In [13]:
# create a function that takes in parameters dataframe and month name
# and returns a dataframe without null values and with needed data only
def clean_data(dframe, month_name):

  # remove observations with null values and reset index
  dframe = dframe.dropna().reset_index()

  # remove columns that aren't needed
  dframe = dframe.drop(dframe.columns[[0, 1, 2, 3, 4, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]], axis=1)

  # rename column names for easier readability
  dframe = dframe.rename(columns={'Field6':'region', 'Field7':'park_name', 'Field8': month_name + '_2019', 'Field9': month_name + '_2020', 'Field10': month_name + '_diff'})
  return dframe

# store month names into a list named months
months = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']

In [14]:
df_jan19_20 = clean_data(df_jan19_20, months[0])
df_feb19_20 = clean_data(df_feb19_20, months[1])
df_mar19_20 = clean_data(df_mar19_20, months[2])
df_apr19_20 = clean_data(df_apr19_20, months[3])
df_may19_20 = clean_data(df_may19_20, months[4])
df_jun19_20 = clean_data(df_jun19_20, months[5])

In [15]:
df_jul19_20 = clean_data(df_jul19_20, months[6])
df_aug19_20 = clean_data(df_aug19_20, months[7])
df_sep19_20 = clean_data(df_sep19_20, months[8])
df_oct19_20 = clean_data(df_oct19_20, months[9])
df_nov19_20 = clean_data(df_nov19_20, months[10])
df_dec19_20 = clean_data(df_dec19_20, months[11])

Next, in order to get one clean dataframe, we merge the different months into a single dataframe that contain all monthly data for 2019 and 2020. This dataframe contains data for all regions.

In [16]:
complete_df = df_jan19_20.merge(df_feb19_20)
complete_df = complete_df.merge(df_mar19_20)
complete_df = complete_df.merge(df_apr19_20)
complete_df = complete_df.merge(df_may19_20)
complete_df = complete_df.merge(df_jun19_20)
complete_df = complete_df.merge(df_jul19_20)
complete_df = complete_df.merge(df_aug19_20)
complete_df = complete_df.merge(df_sep19_20)
complete_df = complete_df.merge(df_oct19_20)
complete_df = complete_df.merge(df_nov19_20)
complete_df = complete_df.merge(df_dec19_20)

In [42]:
complete_df.head()

,region,park_name,jan_2019,jan_2020,jan_diff,feb_2019,feb_2020,feb_diff,mar_2019,mar_2020,...,sep_diff,oct_2019,oct_2020,oct_diff,nov_2019,nov_2020,nov_diff,dec_2019,dec_2020,dec_diff
0,Alaska Region,Bering Land Bridge NPRES,260,260,0,127,127,0,292,292,...,0,422,422,0,182,182,0,168,168,0
1,Alaska Region,Cape Krusenstern NM,"1,098","1,204",106,835,338,-497,634,222,...,12,"1,687","1,687",0,"2,569","2,569",0,"1,711","1,711",0
2,Alaska Region,Denali NP & PRES,96,"1,330","1,234","2,603","2,863",260,"4,613","1,687",...,"-50,981","3,863",13,"-3,850","1,799",5,"-1,794","2,715",4,"-2,711"
3,Alaska Region,Glacier Bay NP & PRES,173,173,0,173,173,0,195,173,...,"-111,446","4,319",179,"-4,140",172,173,1,171,171,0
4,Alaska Region,Katmai NP & PRES,100,20,-80,100,20,-80,100,20,...,"1,321",100,20,-80,100,20,-80,100,20,-80

Finally, we create dataframes for each of the regions of interest for our project: the Pacific West and Intermountain Regions. This data will help us get a good look at broad trends for all national parks and monuments in these regions before and during the pandemic.

In [30]:
condition_pacwest = complete_df['region'] == 'Pacific West  Region'
pacwest_df = complete_df[condition_pacwest].reset_index().drop(labels='index', axis=1)

condition_intmtn = complete_df['region'] == 'Intermountain  Region'
intmtn_df = complete_df[condition_intmtn].reset_index().drop(labels='index', axis=1)

In [31]:
pacwest_df.head()

,region,park_name,jan_2019,jan_2020,jan_diff,feb_2019,feb_2020,feb_diff,mar_2019,mar_2020,...,sep_diff,oct_2019,oct_2020,oct_diff,nov_2019,nov_2020,nov_diff,dec_2019,dec_2020,dec_diff
0,Pacific West Region,Big Hole NB,94,390,296,263,476,213,479,417,...,582,"3,268",257,"-3,011",506,178,-328,295,70,-225
1,Pacific West Region,Cabrillo NM,"6,806","70,854","64,048","56,248","63,403","7,155","76,140","28,509",...,"-13,376","58,619","47,287","-11,332","62,287","52,531","-9,756","61,272","45,668","-15,604"
2,Pacific West Region,Cesar E. Chavez NM,0,"1,743","1,743",907,"1,833",926,"2,503",751,...,"-1,673","1,606",190,"-1,416","1,312",127,"-1,185","1,264",150,"-1,114"
3,Pacific West Region,Channel Islands NP,"9,193","18,955","9,762","22,263","20,318","-1,945","34,951","13,408",...,"-20,534","36,691","26,302","-10,389","25,212","16,745","-8,467","22,062","3,011","-19,051"
4,Pacific West Region,City of Rocks NRES,188,808,620,188,948,760,302,"1,607",...,"4,054","7,896","12,362","4,466","3,885","4,815",930,"2,695","2,092",-603

In [32]:
intmtn_df.head()

,region,park_name,jan_2019,jan_2020,jan_diff,feb_2019,feb_2020,feb_diff,mar_2019,mar_2020,...,sep_diff,oct_2019,oct_2020,oct_diff,nov_2019,nov_2020,nov_diff,dec_2019,dec_2020,dec_diff
0,Intermountain Region,Alibates Flint Quarries NM,42,273,231,272,314,42,806,233,...,-366,"1,052",697,-355,601,643,42,277,383,106
1,Intermountain Region,Amistad NRA,"64,128","64,740",612,"70,392","74,908","4,516","73,512","130,920",...,"39,414","131,963","124,343","-7,620","88,876","85,430","-3,446","99,225","89,258","-9,967"
2,Intermountain Region,Arches NP,"21,499","28,462","6,963","30,239","42,416","12,177","132,191","81,623",...,"-3,991","149,764","177,864","28,100","73,420","103,916","30,496","39,381","64,042","24,661"
3,Intermountain Region,Aztec Ruins NM,438,"1,728","1,290","1,207","2,083",876,"4,174","3,221",...,"-4,275","7,869","3,550","-4,319","2,605","2,371",-234,"3,045","1,466","-1,579"
4,Intermountain Region,Bandelier NM,187,"5,283","5,096","4,949","5,201",252,"18,780","10,604",...,"-6,640","22,166","12,708","-9,458","10,256","6,352","-3,904","8,886","6,165","-2,721"