# COGS 108 - EDA Checkpoint

# Names

- Maria Dhilla
- Eunice Lee
- Prem Shelat
- Maryam Amin
- Najma Adeeb

<a id='research_question'></a>
# Research Question

*Fill in your research question here*

Based on the past 20 years, what will be the US National Park visitation rates within the Pacific-West and Intermountain Regions over the next 5 years?

# Setup

In [1]:
# import pandas & numpy library
import pandas as pd
import numpy as np

# Import seaborn and apply its plotting styles
import seaborn as sns
sns.set(font_scale=2, style="white")

# import matplotlib
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.style as style
# set plotting size parameter
plt.rcParams['figure.figsize'] = (12, 5)

# Data Cleaning

Describe your data cleaning steps here.

Here, we started by reading in our CSV files that were downloaded from the National Park Service's Statistics page. Fortunately, there is a lot of data to work with. Some of data we wanted to look at is split up into multiple CSVs, while other datasets are entirely clean. Therefore, we are mostly going to be merging datasets and cleaning unwanted columns of data for the sets that are split up.

In [3]:
# NOTE: may be useful later
# full year total data for 2019-2021, split by year
# df_2019_2020 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/2019-2020%20Current%20Year%20Monthly%20and%20Annual%20Summary%20Report%20(1979%20-%20Present).csv')
# df_2020_2021 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/2020-2021%20Current%20Year%20Monthly%20and%20Annual%20Summary%20Report%20(1979%20-%20Present)%20(1).csv')

# import month-to-month data, split by region
df_jan19_20 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/Jan2019-2020.csv')
df_feb19_20 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/Feb2019-2020.csv')
df_mar19_20 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/Mar2019-2020.csv')
df_apr19_20 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/Apr2019-2020.csv')
df_may19_20 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/May2019-2020.csv')
df_jun19_20 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/Jun2019-2020.csv')
df_jul19_20 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/Jul2019-2020.csv')
df_aug19_20 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/Aug2019-2020.csv')
df_sep19_20 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/Sep2019-2020.csv')
df_oct19_20 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/Oct2019-2020.csv')
df_nov19_20 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/Nov2019-2020.csv')
df_dec19_20 = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/Dec2019-2020.csv')

In [4]:
# clean csv dataframes of visitation for each of the parks of interest
df_GRCA = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/GRCA.csv') # grand canyon
df_MEVE = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/MEVE.csv') # mesa verde
df_GUMO = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/GUMO.csv') # guadalupe mtns
df_YOSE = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/YOSE.csv') # yosemite
df_CRLA = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/CRLA.csv') # crater lake
df_PINN = pd.read_csv('https://raw.githubusercontent.com/mqdhilla/COGS108_Repo/main/PINN.csv') # pinnacles

There are some minor fixes for the data of the parks of interest:

In [5]:
# these 3 NPs have a row for 2022 data, but only have numbers for jan and is null for the rest
# so we drop the null row for each
df_MEVE = df_MEVE.dropna().reset_index().drop(labels='index', axis=1)
df_CRLA = df_CRLA.dropna().reset_index().drop(labels='index', axis=1)
df_PINN = df_PINN.dropna().reset_index().drop(labels='index', axis=1)

# rename last column as 'total'
df_GRCA.rename(columns = {'Textbox5': 'Total'}, inplace = True)
df_MEVE.rename(columns = {'Textbox5': 'Total'}, inplace = True)
df_GUMO.rename(columns = {'Textbox5': 'Total'}, inplace = True)
df_YOSE.rename(columns = {'Textbox5': 'Total'}, inplace = True)
df_CRLA.rename(columns = {'Textbox5': 'Total'}, inplace = True)
df_PINN.rename(columns = {'Textbox5': 'Total'}, inplace = True)

In [17]:
df_GRCA

,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
0,2021,"164,922","161,428","317,054","421,232","484,442","538,530","556,766","430,684","399,321","430,734","346,971","280,593","4,532,677"
1,2020,"246,460","252,897","276,002",0,"43,397","232,267","350,003","303,900","249,010","421,568","275,764","245,830","2,897,098"
2,2019,"225,056","213,050","451,228","562,265","618,598","643,821","756,860","700,896","578,852","551,558","347,847","324,380","5,974,411"
3,2018,"257,366","265,949","503,284","549,416","637,703","673,474","799,765","744,826","615,783","555,094","408,794","369,041","6,380,495"
4,2017,"217,102","239,154","502,739","590,006","606,247","726,916","837,258","745,613","571,946","529,825","349,326","338,106","6,254,238"
5,2016,"189,103","214,361","504,295","464,922","588,591","700,421","839,086","743,158","578,006","517,791","333,204","296,873","5,969,811"
6,2015,"191,781","224,311","437,563","486,989","541,338","614,938","714,911","793,412","525,090","444,363","273,558","272,482","5,520,736"
7,2014,"173,458","176,364","353,920","320,348","463,713","563,375","621,953","671,027","488,359","410,933","256,705","256,616","4,756,771"
8,2013,"143,405","145,356","359,799","375,899","468,178","613,479","728,543","633,026","465,665","197,742","217,733","216,015","4,564,840"
9,2012,"141,357","141,305","291,120","389,777","416,363","549,688","647,953","610,680","448,925","376,225","221,927","186,032","4,421,352"
10,2011,"139,029","120,726","304,583","388,363","419,569","544,089","654,871","595,265","410,636","348,203","201,809","171,035","4,298,178"
11,2010,"120,409","124,573","312,903","375,136","399,037","555,941","647,636","629,167","477,863","359,758","219,474","166,489","4,388,386"
12,2009,"135,463","132,865","310,717","393,469","432,940","529,833","658,993","600,442","425,737","352,207","214,355","161,047","4,348,068"
13,2008,"123,600","146,730","358,409","377,542","453,651","530,291","644,915","633,985","433,030","359,396","209,843","153,922","4,425,314"
14,2007,"139,636","155,049","332,226","431,874","443,773","515,106","604,185","580,670","424,493","362,602","235,217","188,837","4,413,668"
15,2006,"163,222","178,982","296,498","419,253","451,576","509,456","578,208","507,951","399,117","352,556","239,306","183,314","4,279,439"
16,2005,"132,660","151,719","356,357","380,473","444,253","594,410","611,813","572,431","392,835","335,518","230,597","198,456","4,401,522"
17,2004,"150,345","148,379","313,056","409,645","444,078","529,486","625,584","549,643","425,037","333,874","219,953","177,154","4,326,234"
18,2003,"156,481","148,388","274,120","340,245","398,371","536,251","603,109","550,855","377,719","335,317","220,124","183,920","4,124,900"
19,2002,"141,451","147,784","295,462","331,852","408,987","502,154","568,408","520,331","368,543","324,351","217,586","175,065","4,001,974"
20,2001,"152,246","133,442","304,407","363,932","446,090","517,870","620,638","565,883","348,445","287,259","192,539","172,058","4,104,809"
21,2000,"153,667","159,129","310,278","392,888","459,685","528,779","624,033","590,701","474,295","368,560","205,567","192,646","4,460,228"
22,1999,"154,225","168,127","367,827","345,769","456,674","564,036","655,350","608,486","491,822","378,777","206,084","177,947","4,575,124"
23,1998,"133,187","135,141","248,949","401,811","444,044","532,945","586,676","600,640","421,853","375,993","209,611","148,832","4,239,682"
24,1997,"133,291","174,087","347,740","324,011","465,990","540,275","730,341","591,024","599,107","444,433","251,808","189,561","4,791,668"
25,1996,"147,909","171,968","302,054","364,219","477,093","577,194","691,310","580,705","499,011","387,665","188,612","149,963","4,537,703"
26,1995,"124,843","158,170","286,118","371,843","464,743","665,255","678,871","678,492","439,849","381,572","166,568","141,321","4,557,645"
27,1994,"137,426","136,008","321,076","317,331","430,834","539,256","684,303","656,675","447,284","348,792","192,207","153,124","4,364,316"
28,1993,"113,555","124,186","267,508","326,969","462,722","610,570","755,833","744,485","481,004","356,060","186,556","146,154","4,575,602"
29,1992,"106,718","129,889","215,840","344,954","434,452","553,547","658,700","648,030","468,743","325,158","184,552","132,962","4,203,545"
30,1991,"119,713","137,010","173,728","262,163","420,242","530,436","583,108","561,165","451,446","361,865","181,771","103,384","3,886,031"
31,1990,"118,005","131,958","256,088","314,388","410,498","472,277","534,498","528,984","403,743","283,512","197,985","124,749","3,776,685"
32,1989,"107,390","128,648","261,150","280,218","409,344","543,782","542,509","536,221","440,897","345,439","225,092","145,519","3,966,209"
33,1988,"96,995","133,142","273,551","240,519","387,946","523,647","557,670","550,873","462,806","328,960","196,874","106,903","3,859,886"
34,1987,"94,561","110,009","188,661","294,786","352,013","457,635","485,310","525,178","425,004","299,263","168,321","112,289","3,513,030"
35,1986,"75,573","94,361","201,642","215,037","318,732","407,145","456,542","437,652","312,678","247,244","151,811","117,370","3,035,787"
36,1985,"54,330","66,986","143,335","217,613","295,024","391,629","411,347","366,036","304,431","240,488","114,023","106,287","2,711,529"
37,1984,"60,598","72,688","123,699","169,412","249,813","332,759","369,741","260,758","220,356","148,330","104,114","61,316","2,173,584"
38,1983,"49,146","65,862","118,768","141,134","233,043","364,817","400,961","305,589","226,922","181,782","94,483","65,575","2,248,082"
39,1982,"44,969","58,210","106,235","167,891","212,009","372,127","369,983","364,548","254,192","188,615","90,586","63,762","2,293,127"
40,1981,"87,337","88,570","119,264","205,490","244,709","364,113","398,756","378,831","247,606","185,318","83,734","68,542","2,472,270"
41,1980,"55,634","40,800","111,283","135,657","300,940","231,093","382,961","379,099","264,391","194,043","119,440","89,632","2,304,973"
42,1979,"37,002","46,043","91,927","123,643","205,048","297,877","338,935","350,694","294,206","187,335","98,410","60,596","2,131,716"

The month-to-month datasets are not formatted properly and don't translate well to CSV. There are many empty rows that show up when we download the data, so we drop null rows, reset index, and drop unnecessary columns. These unnecesssary columns contain redundant data and are formed as a result of the incorrect formatting. We made a function and cleaned up each month's dataframe.

In [7]:
# create a function that takes in parameters dataframe and month name
# and returns a dataframe without null values and with needed data only
def clean_data(dframe, month_name):

  # remove observations with null values and reset index
  dframe = dframe.dropna().reset_index()

  # remove columns that aren't needed
  dframe = dframe.drop(dframe.columns[[0, 1, 2, 3, 4, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]], axis=1)

  # rename column names for easier readability
  dframe = dframe.rename(columns={'Field6':'region', 'Field7':'park_name', 'Field8': month_name + '_2019', 'Field9': month_name + '_2020', 'Field10': month_name + '_diff'})
  return dframe

# store month names into a list named months
months = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']

In [8]:
df_jan19_20 = clean_data(df_jan19_20, months[0])
df_feb19_20 = clean_data(df_feb19_20, months[1])
df_mar19_20 = clean_data(df_mar19_20, months[2])
df_apr19_20 = clean_data(df_apr19_20, months[3])
df_may19_20 = clean_data(df_may19_20, months[4])
df_jun19_20 = clean_data(df_jun19_20, months[5])

In [9]:
df_jul19_20 = clean_data(df_jul19_20, months[6])
df_aug19_20 = clean_data(df_aug19_20, months[7])
df_sep19_20 = clean_data(df_sep19_20, months[8])
df_oct19_20 = clean_data(df_oct19_20, months[9])
df_nov19_20 = clean_data(df_nov19_20, months[10])
df_dec19_20 = clean_data(df_dec19_20, months[11])

Next, in order to get one clean dataframe, we merge the different months into a single dataframe that contain all monthly data for 2019 and 2020. This dataframe contains data for all regions.

In [10]:
complete_df = df_jan19_20.merge(df_feb19_20)
complete_df = complete_df.merge(df_mar19_20)
complete_df = complete_df.merge(df_apr19_20)
complete_df = complete_df.merge(df_may19_20)
complete_df = complete_df.merge(df_jun19_20)
complete_df = complete_df.merge(df_jul19_20)
complete_df = complete_df.merge(df_aug19_20)
complete_df = complete_df.merge(df_sep19_20)
complete_df = complete_df.merge(df_oct19_20)
complete_df = complete_df.merge(df_nov19_20)
complete_df = complete_df.merge(df_dec19_20)

In [11]:
complete_df.head()

,region,park_name,jan_2019,jan_2020,jan_diff,feb_2019,feb_2020,feb_diff,mar_2019,mar_2020,...,sep_diff,oct_2019,oct_2020,oct_diff,nov_2019,nov_2020,nov_diff,dec_2019,dec_2020,dec_diff
0,Alaska Region,Bering Land Bridge NPRES,260,260,0,127,127,0,292,292,...,0,422,422,0,182,182,0,168,168,0
1,Alaska Region,Cape Krusenstern NM,"1,098","1,204",106,835,338,-497,634,222,...,12,"1,687","1,687",0,"2,569","2,569",0,"1,711","1,711",0
2,Alaska Region,Denali NP & PRES,96,"1,330","1,234","2,603","2,863",260,"4,613","1,687",...,"-50,981","3,863",13,"-3,850","1,799",5,"-1,794","2,715",4,"-2,711"
3,Alaska Region,Glacier Bay NP & PRES,173,173,0,173,173,0,195,173,...,"-111,446","4,319",179,"-4,140",172,173,1,171,171,0
4,Alaska Region,Katmai NP & PRES,100,20,-80,100,20,-80,100,20,...,"1,321",100,20,-80,100,20,-80,100,20,-80

Finally, we create dataframes for each of the regions of interest for our project: the Pacific West and Intermountain Regions. This data will help us get a good look at broad trends for all national parks and monuments in these regions before and during the pandemic.

In [12]:
condition_pacwest = complete_df['region'] == 'Pacific West  Region'
pacwest_df = complete_df[condition_pacwest].reset_index().drop(labels='index', axis=1)

condition_intmtn = complete_df['region'] == 'Intermountain  Region'
intmtn_df = complete_df[condition_intmtn].reset_index().drop(labels='index', axis=1)

In [13]:
pacwest_df.head()

,region,park_name,jan_2019,jan_2020,jan_diff,feb_2019,feb_2020,feb_diff,mar_2019,mar_2020,...,sep_diff,oct_2019,oct_2020,oct_diff,nov_2019,nov_2020,nov_diff,dec_2019,dec_2020,dec_diff
0,Pacific West Region,Big Hole NB,94,390,296,263,476,213,479,417,...,582,"3,268",257,"-3,011",506,178,-328,295,70,-225
1,Pacific West Region,Cabrillo NM,"6,806","70,854","64,048","56,248","63,403","7,155","76,140","28,509",...,"-13,376","58,619","47,287","-11,332","62,287","52,531","-9,756","61,272","45,668","-15,604"
2,Pacific West Region,Cesar E. Chavez NM,0,"1,743","1,743",907,"1,833",926,"2,503",751,...,"-1,673","1,606",190,"-1,416","1,312",127,"-1,185","1,264",150,"-1,114"
3,Pacific West Region,Channel Islands NP,"9,193","18,955","9,762","22,263","20,318","-1,945","34,951","13,408",...,"-20,534","36,691","26,302","-10,389","25,212","16,745","-8,467","22,062","3,011","-19,051"
4,Pacific West Region,City of Rocks NRES,188,808,620,188,948,760,302,"1,607",...,"4,054","7,896","12,362","4,466","3,885","4,815",930,"2,695","2,092",-603

In [14]:
intmtn_df.head()

,region,park_name,jan_2019,jan_2020,jan_diff,feb_2019,feb_2020,feb_diff,mar_2019,mar_2020,...,sep_diff,oct_2019,oct_2020,oct_diff,nov_2019,nov_2020,nov_diff,dec_2019,dec_2020,dec_diff
0,Intermountain Region,Alibates Flint Quarries NM,42,273,231,272,314,42,806,233,...,-366,"1,052",697,-355,601,643,42,277,383,106
1,Intermountain Region,Amistad NRA,"64,128","64,740",612,"70,392","74,908","4,516","73,512","130,920",...,"39,414","131,963","124,343","-7,620","88,876","85,430","-3,446","99,225","89,258","-9,967"
2,Intermountain Region,Arches NP,"21,499","28,462","6,963","30,239","42,416","12,177","132,191","81,623",...,"-3,991","149,764","177,864","28,100","73,420","103,916","30,496","39,381","64,042","24,661"
3,Intermountain Region,Aztec Ruins NM,438,"1,728","1,290","1,207","2,083",876,"4,174","3,221",...,"-4,275","7,869","3,550","-4,319","2,605","2,371",-234,"3,045","1,466","-1,579"
4,Intermountain Region,Bandelier NM,187,"5,283","5,096","4,949","5,201",252,"18,780","10,604",...,"-6,640","22,166","12,708","-9,458","10,256","6,352","-3,904","8,886","6,165","-2,721"

# Data Analysis & Results (EDA)

Carry out EDA on your dataset(s); Describe in this section

Tools: scikit-learn (sklearn)
Data Partitioning

- omit 2020/2021 data
- 80/20 split, training on 1979-2007, validation on 2008-2014
- 

11 Steps to Prediction:
Specify how data will be partitioned
Partition the data
Train model
Predict in training
Predict in testing
Assess accuracy in training
Assess accuracy in test set
Assess accuracy in validation set

Feature selection
Modeling: SVM
Model Assessment

In [ ]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION